@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

/*section {*/
/*    width: 100%;*/
/*    display: inline-block;*/
/*    background: #333;*/
/*    height: 50vh;*/
/*    text-align: center;*/
/*    font-size: 22px;*/
/*    font-weight: 700;*/
/*    text-decoration: underline;*/
/*}*/

.footer-distributed{

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{

}

/* Footer left */

.footer-distributed .footer-left{

}

/* The company logo */

.footer-distributed h3{

}

.footer-distributed h3 span{

}

/* Footer links */

.footer-distributed .footer-links{

}

.footer-distributed .footer-links a{

}

.footer-distributed .footer-company-name{


}

/* Footer Center */

.footer-distributed .footer-center{

}


.footer-distributed .footer-center .footerIcon{

}

.footer-distributed .footer-center img{


}


.footer-distributed .footer-center p{

}

.footer-distributed .footer-center p span{


}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {

}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{


}



.footer-distributed .footer-company-about{

}

.footer-distributed .footer-company-about span{

}

.footer-distributed .sotSet{

}

.footer-distributed .sotSet a{


}

.footer-distributed .sotSet a img{

}

.footer-distributed .sotSet a:hover img{

}

.footer-distributed .sotSet a:hover {

}
.footer-distributed .sotSet a:nth-child(2):hover {
}



.footer-distributed .sotSet a:nth-child(3):hover {


}



.footer-distributed .sotSet a:nth-child(4):hover {


}



.footer-distributed .sotSet a:nth-child(5):hover {


}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 750px) {

    .footer-distributed .footer-left img{
        width: 10vw;
    }



    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{

    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
